.homeContainer {
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.homeFooter {
	position: absolute;
	bottom: 2%;
	color: #00000050;
}

.buttonContainer {
	width: 30%;
	display: flex;
	justify-content: center;
}

.btn {
	padding: 3%;
	margin: 0 3%;
	border-radius: 10px;
	width: 200px;
	text-align: center;
}

.btn-primary {
	background-color: #c4245480;
	color: #ffffff;
	transition: all 0.2s ease-in-out;
}

.btn-outline-primary {
	border: 1px solid #c42454;
	color: #c42454;
	transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #c42454;
	transition: all 0.2s ease-in-out;
}

.btn-outline-primary:hover {
	color: #ffffff;
	background-color: #c4245480;
	transition: all 0.2s ease-in-out;
}